

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="signin.html" class="brand-logo">Logo</a>
            <!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Menu</a>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="signin.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i></a>>Matches</a>
                </li>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div> -->
    </nav>

    <div class="wrapper">
        <div class="cards">

            {{#each profiles}}
                <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/daniel-lincoln-NR705beN_CU-unsplash.jpg">
                    {{!-- <a class="btn-floating halfway-fab waves-effect waves-light red" id="add"><i class="material-icons">add</i></a> --}}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="name">{{firstName}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">{{id}}</a></p>
                    <p><button id="contact">{{email}}</button></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Them:<i class="material-icons right">close</i></span>
                    <p>Fandoms: {{fandoms}}</p>
                    <p>{{gif}}</p>
                    <p>Dad Joke: {{dadJoke}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <footer class="page-footer amber-lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
